[submodule "config/.vim/bundle/neobundle.vim"]
	path = config/.vim/bundle/neobundle.vim
	url = https://github.com/k0kubun/neobundle.vim
[submodule "config/.vim/dicts"]
	path = config/.vim/dicts
	url = https://github.com/pocke/dicts
[submodule "config/.githooks/codestyle"]
	path = config/.githooks/codestyle
	url = https://github.com/airlift/codestyle.git
[submodule "config/.zsh/bundle/ssh-find-agent"]
	path = config/.zsh/bundle/ssh-find-agent
	url = https://github.com/wwalker/ssh-find-agent
