# 1. Copy this to ~/.config/systemd/user/xremap.service
# 2. systemctl --user enable xremap

[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/local/bin/xremap /home/k0kubun/.xremap
ExecStop=/usr/bin/killall xremap
Restart=always
Environment=DISPLAY=<%= ENV['DISPLAY'] %>

[Install]
WantedBy=graphical.target
