[Unit]
Description=Update IEServer DDNS

[Service]
Type=simple
ExecStart=/usr/bin/ruby /opt/local/ddns-update/update

[Install]
WantedBy=default.target
