.DS_Store
*.elc
tramp
el-get/*
auto-save-list/*
*~
\#*\#
ac-comphist.dat
.vim/bundle/*
!.vim/bundle/neobundle.vim
.netrwhist
.vim/tmp/*
.\#*
tags
.gitconfig.local
,*
.cabal/*
!.cabal/config
dump.rdb
.vimrc.local
.byebug_history
.vagrant
.bundle
