.DS_Store
*.elc
tramp
el-get/*
auto-save-list/*
*~
\#*\#
ac-comphist.dat
.vim/bundle/*
!.vim/bundle/neobundle.vim
.netrwhist
.vim/tmp/*
.\#*
.gitconfig.local
,*
.cabal/*
!.cabal/config
dump.rdb
.vimrc.local
.byebug_history
.vagrant
.bundle
[
]
/.trunk
/.trunk2
/.opt_call
/.modified
/.linux
/.macos
/core
/.tmp
/.force-ruby
/.ruby-*/
/.ruby
/.ruby2
/.*jit
/.*jit-*
/.r6*
/.before
/.after
/.debug
*.pyc
/.objfcn
/.opt-cancel
/.send-cancel
/.both-cancel
.pytest_cache
pp_.go
/.purity
.idea
*.iml
venv
*.gcov
cachegrind.out.*
.java-version
.ipynb_checkpoints/
