[user]
  name = Takashi Kokubun
  email = takashikkbn@gmail.com
  signingKey = "149033D7861A9117B2D34B8D6FFC433B12EE23DD"
[commit]
  gpgsign = true
[core]
  excludesFile = ~/.gitignore
  editor = vim
  filemode = true
[include]
  path = .gitconfig.local
[color]
  ui = true
[push]
	default = simple
[pull]
  rebase = true
[branch]
	autoSetupRebase = always
[submodule]
  recurse = true
[ghq]
  root = ~/src
  completeUser = false
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[url "git@gist.github.com:"]
  pushInsteadOf = https://gist.github.com/
  pushInsteadOf = git://gist.github.com/
