[Unit]
Description=xkeysnail
After=gdm.service

[Service]
ExecStart=/usr/local/bin/xkeysnail /home/k0kubun/src/github.com/k0kubun/dotfiles/config/xkeysnail.py
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
