[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Nocturn
Comment=Multi-platform Twitter Client built with React, Redux and Electron
Path=/opt/Nocturn-linux-x64
Exec=/opt/Nocturn-linux-x64/Nocturn
Icon=/opt/Nocturn-linux-x64/resources/icon.png
Terminal=false
Categories=Internet;Communication;Electron;
